<!DOCTYPE html>
<html lang="en" ng-app="hadtodoApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HadTodo</title>

    <link rel="stylesheet" href="bower_components/semantic-ui/dist/semantic.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller="AppCtrl">
    <div class="ui menu">
        <div class="container-fixed">
            <a class="active item">
                HadTodo
            </a>

            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
                <div ng-controller="LoginCtrl" ng-hide="isAuthenticated()" class="ui pointing dropdown link item">
                    <i class="dropdown icon"></i>
                    <span class="text">Login</span>
                    <div class="menu">
                        <div class="item" ng-click="authenticate('facebook')">
                            <i class="blue facebook icon"></i>
                            Facebook
                        </div>
                        <div class="item" ng-click="authenticate('google')">
                            <i class="red google icon"></i>
                            Google+
                        </div>
                    </div>
                </div>
                <div ng-show="isAuthenticated()" class="ui link item logout">
                    Logout
                </div>
            </div>
        </div>
    </div>

    <div class="container-fixed">
        Content here...
    </div>

    <!-- 3rd party scripts -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/semantic-ui/dist/semantic.min.js"></script>
    <script src="bower_components/satellizer/satellizer.min.js"></script>

    <!-- Application -->
    <script src="app.js"></script>

    <!-- Controllers -->
    <script src="controllers/login.js"></script>

    <!-- GUI Stuff -->
    <script src="ui.js"></script>

    <!-- Livereload - only for development -->
    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>